@use './utils/variables' as *;

.hub-api-field {

  .icon {
    align-items: center;
    column-gap: $grid_gap;
    display: grid;
    grid-template-columns: [icon] $icon_width [message] auto;
    grid-auto-rows: auto;

    svg {
      fill: #3c434a;
    }

    &.valid svg {
      fill: #7ad03a;
    }

    &.invalid svg {
      fill: #dd3d36;
    }

    p { margin: 0; }
  }
}
