@use './utils/variables' as *;

.hub-api-field {

  // this div appears when there is an object preview
  // wraps both the icon and the object
  .object-preview-wrapper {
    align-items: center;
    column-gap: $grid_gap;
    display: grid;
    grid-template-columns: ($icon_width + 25px) auto;
    grid-auto-rows: auto;

    .object {
    
      &.has-image {
        align-items: center;
        column-gap: $grid_gap;
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: [image] 60px auto;
      }
  
      img {
        width: 100%;
      }
  
      p {
        margin: 0;
      }
    }
  }
}
